/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Reset */

/* Hans */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

#navigation-bar {
  position: fixed;
  top: 0px;
  left: -400px;
  background: #FFF;
  min-height: 100%;
  width: 361px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header {
  float: left;
  width: 360px;
  height: 100px;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  background: #333;
  border-bottom: 1px solid #AAA;
  border-right: 1px solid #DDD;
}

#gravatar {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 3px 10px #000;
  -moz-box-shadow: 0px 3px 10px #000;
  box-shadow: 0px 3px 10px #000;
  z-index: 12;
}

#gravatar:hover #navigation-bar, #navigation-bar:hover {
  left: 0;
}

#gravatar-dummy {
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 3px 10px #000;
  -moz-box-shadow: 0px 3px 10px #000;
  box-shadow: 0px 3px 10px #000;
  visibility: hidden;
}

#header-data {
  float: left;
}

#name-container {
  margin: 5px 0 10px 20px;
  float: left;
  font-size: 30px;
  color: #EEE;
  line-height: 1;
  border-bottom: 1px solid #AAA;
  text-shadow: 1px 1px 5px #000;
  z-index: 10;
}

#link-container {
  float: left;
  clear: left;
  padding-left: 20px;
}

#link-container a:link, #link-container a:visited, #link-container a:active, #link-container a:hover {
  float: left;
  font-size: 20px;
  color: #555;
  line-height: 1;
  z-index: 10;
  margin: 0 5px;
}

#link-container a:hover {
  border-bottom: 5px solid #DDD;
}

#link-container img {
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 2px #777;
  -moz-box-shadow: 0px 0px 2px #777;
  box-shadow: 0px 0px 2px #777;
}

#navigation-list-container {
  float: left;
  clear: left;
  padding: 10px 20px 0;
  background: #F3F3F3;
  border-right: 1px solid #DDD;
  overflow-y: auto;
}

#navigation-list {
  margin: 0;
  width: 320px;
  line-height: 30px;
}

#navigation-list-container:hover #navigation-list{
  width: 580px;
}

.navigation-list-year, #navigation-list .title, #navigation-list .tech-stack {
  padding: 10px;
}

.navigation-list-year {
  display: inline;
  float: left;
  clear: both;
  text-decoration: underline;
  text-align: left;
  font-size: 30px;
  padding-top: 30px;
  font-weight: bold;
  color: #333;
}

#navigation-list .a-row {
  float: left;
  clear: left;
  overflow: auto;
  border-bottom: 1px solid #DDD;
  box-shadow: 0 1px #CCC;
}

#navigation-list .title, #navigation-list .tech-stack {
  font-size: 20px;
}

#navigation-list .title {
  display: block;
  width: 300px;
  float: left;
  clear: left;
  color: #333;
  text-decoration: underline;
}

#navigation-list .failure {
  color: #900;
}

#navigation-list .tech-stack {
  display: none;
  float: left;
  text-align: center;
  width: 200px;
  color: #555;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#navigation-list-container:hover .title {
  width: 320px;
}

#navigation-list-container:hover .tech-stack {
  display: block;
}

/* Selected Row*/
#navigation-list .a-row:hover {
  background: #333;
  color: #555;
}

#navigation-list .a-row:hover .title {
  color: #CCC;
}

#navigation-list .a-row:hover .failure {
  color: #900;
}
/* End of Selected Row */

#iframe-content-target {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

span.red-color {
  color: #900;
}

.alert {
  position: fixed;
  top: 20px;
  left: 230px;
  text-align: center;
  height: 60px;
  border-radius: 5px;
  background-color: #ffd700;
  padding: 10px 40px 5px 20px;
  color: rgb(173, 123, 0);
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
}

.alert-close {
  position: absolute;
  top: 10px;
  right: 0;
  border: 0;
  font-size: 40px;
  background-color: transparent;
  color: rgb(184, 134, 11);
  font-weight: bolder;
  cursor: pointer;
}

/* For Display that is less than the table size */
@media only screen and (max-width: 760px) {
}

/* End of Hans */