/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Reset */

/* Hans */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

#navigation-bar {
  position: fixed;
  top: 0px;
  left: -400px;
  background: #FFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#header {
  position: absolute;
  top: 0;
  width: 360px;
  height: 100px;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  background: #DDD;
  border-bottom: 1px solid #AAA;
  border-right: 1px solid #DDD;
}

#gravatar {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 3px 10px #000;
  -moz-box-shadow: 0px 3px 10px #000;
  box-shadow: 0px 3px 10px #000;
  z-index: 12;
}

#gravatar:hover #navigation-bar, #navigation-bar:hover {
  left: 0;
}

#gravatar-dummy {
  float: left;
  width: 80px;
  height: 80px;
  margin-left: 20px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 3px 10px #000;
  -moz-box-shadow: 0px 3px 10px #000;
  box-shadow: 0px 3px 10px #000;
  visibility: hidden;
}

#header-data {
  float: left;
}

#name-container {
  margin: 5px 0 10px 20px;
  float: left;
  font-size: 30px;
  color: #333;
  line-height: 1;
  border-bottom: 1px solid #AAA;
  z-index: 10;
}

#link-container {
  float: left;
  clear: left;
}

#link-container a:link, #link-container a:visited, #link-container a:active, #link-container a:hover {
  position: relative;
  float: left;
  font-size: 20px;
  color: #555;
  line-height: 1;
  margin-left: 20px;
  z-index: 10;
}

#navigation-list-container {
  position: absolute;
  top: 121px; /* 1px to account for border */
  padding: 10px 20px 0;
  background: #F3F3F3;
  border-right: 1px solid #DDD;
  overflow: auto;
}

#navigation-list {
  margin: 0;
  width: 320px;
}

#navigation-list:hover {
  width: 580px;
}

#navigation-list th, #navigation-list td {
  padding: 10px;
  color: #555;
}

#navigation-list td a:link, #navigation-list td a:visited,
#navigation-list td a:active, #navigation-list td a:hover {
  color: #555;
}

#navigation-list th {
  text-decoration: underline;
  text-align: left;
  font-size: 30px;
  padding-top: 20px;
  font-weight: bold;
}

#navigation-list td {
  font-size: 20px;
  border-bottom: 1px solid #DDD;
  box-shadow: 0 1px #CCC;
}

#navigation-list td.title {
  width: 300px;
}

#navigation-list td.tech-stack {
  display: none;
  text-align: center;
  width: 200px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#navigation-list:hover td.tech-stack {
  display: table-cell;
}

/* Selected Row*/
#navigation-list tr:hover td {
  background: #333;
  color: #555;
}

#navigation-list tr:hover td.failure a:link, #navigation-list tr:hover td.failure a:visited, #navigation-list tr:hover td.failure a:active, #navigation-list tr:hover td.failure a:hover {
  color: #900;
}

#navigation-list tr:hover td a:link, #navigation-list tr:hover td a:visited, #navigation-list tr:hover td a:hover, #navigation-list tr:hover td a:active {
  color: #CCC;
}
/* End of Selected Row */

#navigation-list td.failure a:link, #navigation-list td.failure a:visited, #navigation-list td.failure a:active, #navigation-list td.failure a:hover {
  color: #900;
}

#iframe-content-target {
  width: 100%;
  height: 100%;
}
/* End of Hans */