/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Reset */

body {
	font-family: Arial, Helvetica, sans-serif;
}

#main-container {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	min-height: 100%;
	background: #1C87C8;
	background-size: cover;
}

#guide {
	position: fixed;
	top: 0;
	left: 120px;
	font-size: 100px;
	color: #FFF;
	text-shadow: 0px 5px 10px #333;
	animation: bounce-hor 1s infinite;
	-webkit-animation: bounce-hor 1s infinite; /* Safari and Chrome */
}

@keyframes bounce-hor {
0%		{left: 100px;}
50%		{left: 120px;}
100%	{left: 100px;}
}

@-webkit-keyframes bounce-hor {
0%		{left: 100px;}
50%		{left: 120px;}
100%	{left: 100px;}
}

#welcome-message {
	opacity: 1;
	margin-top: 18%;
	width: 100%;
	font-size: 80px;
	text-align: center;
	color: #FFF;
	text-shadow: 0px 2px 5px #333;
	animation: show-message 2s;
	-webkit-animation: show-message 2s; /* Safari and Chrome */
}

@keyframes show-message {
from	{opacity: 0;}
to		{opacity: 1;}
}

@-webkit-keyframes show-message {
from	{opacity: 0;}
to		{opacity: 1;}
}